<p>Yay! Someone sent you some Bill Bucks!!!</p>

<table style="max-width: 40em;">
  <tr>
    <td>From:</td>
    <td><%= @buck_wad.from %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @from_email %></td>
  </tr>
  <tr>
    <td>For:</td>
    <td><%= @buck_wad.for_message %></td>
  </tr>
</table>

<% @buck_wad.bucks_by_filename.keys.each do |filename| %>
<%= image_tag(attachments[filename].url, size: "300x288") %>
<% end %>

<hr>

<p>
  What's this?
  See <a href="https://help.cru.org/bills">help.cru.org/bills</a> for details,
  or <%= link_to("send some Bill Bucks back", bucks_new_url(@return_wad_params)) %>!
</p>