<header>
  <h1>Make a Bill</h1>
</header>

<div class="row">
  <%= form_with(url: '/bucks/new', method: "get", local: true) do |f| %>
    <div>
      <%= label_tag(:to, "To:") %>
      <br>
      <%= text_field_tag(:to, @image_params[:to]) %>
    </div>

    <div>
      <%= label_tag(:from, "From:") %>
      <br>
      <%= text_field_tag(:from, @image_params[:from]) %>
    </div>

    <div>
      <%= label_tag(:for, "For:") %>
      <br>
      <%= text_area_tag(:for, @image_params[:for], maxlength: 275, size: 400) %>
    </div>

    <%= radio_button_tag(:type, "bill", @image_params[:type].in?(['bill', '', nil])) %>
    <%= label_tag(:type_bill, "Bill (1)") %>
    <%= radio_button_tag(:type, "vonette", @image_params[:type] == 'vonette') %>
    <%= label_tag(:type_vonette, "Vonette (5)") %>
    <br>

    <%= f.submit("Generate") %>
  <% end %>

  <div class="img">
    <%= image_tag("/bucks/#{@image_params[:type] || "bill"}.png?#{@image_params.to_query}") %>
  </div>
</div>

<footer>
  <span>Made with ❤ by Shelby and Spencer</span>
  <span>
    <a href="https://github.com/soberstadt/bill-bucks-generator/issues"
       title="feature requests are easier to read if they are on a bill buck image">
      Issues or Feature Requests
    </a>
  </span>
</footer>
