<h1>Make a Bill</h1>

<%= form_with(url: '/bucks/new', method: "get", local: true) do |f| %>
  <%= label_tag(:to, "To:") %>
  <%= text_field_tag(:to) %>
  <br>
  
  <%= label_tag(:from, "From:") %>
  <%= text_field_tag(:from) %>
  <br>

  <%= label_tag(:for, "For:") %>
  <%= text_area_tag(:for, '', maxlength: 300, size: 300) %>
  <br>

  <%= radio_button_tag(:type, "bill") %>
  <%= label_tag(:type_bill, "Bill (1)") %>
  <%= radio_button_tag(:type, "vonette") %>
  <%= label_tag(:type_vonette, "Vonette (5)") %>
  <br>

  <%= f.submit("Generate") %>
<% end %>

<p><%= @image_params %></p>

<%= image_tag("/bucks/img.png?#{@image_params.to_query}") %>